.slider {
    position: relative;
    text-align: center;
    color: white;
  }

.silder-content {
position: absolute;
top:63%;
left: 52%;
transform: translate(-50%, -50%);
}
.capitalize{
text-transform: uppercase;
}
.mouse_click{
padding-top: 8rem;
margin-top: 8rem;
}
.services {
    position: relative;
    text-align: center;
    color: white;
  }
.services-content {
position: absolute;
top:50%;
left: 52%;
transform: translate(-50%, -50%);
}