body{
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.slider {
    position: relative;
    text-align: center;
    color: white;
  }

.silder-content {
position: absolute;
top:63%;
left: 52%;
transform: translate(-50%, -50%);
}
.capitalize{
text-transform: uppercase;
}
.mouse_click{
padding-top: 8rem;
margin-top: 8rem;
}
.services {
    position: relative;
    text-align: center;
    color: white;
  }
.services-content {
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
}
.contact-us {
    position: relative;
    text-align: center;
    color: white;
  }
.contact-us-content {
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
}
.myitem{
    background:transparent !important;
    color: #fff !important;
    border-radius: 0px;
}

.imgs{
    padding: 20px;
}
.footer p{
  margin-bottom: 0px !important;
}
